page-about {
  .about {
    margin: 0;
    width: 100%;
    height: 228px;


  }
  .about-button {
    padding: 5%;
    text-align: left;
  }
  .about-text {
    padding: 30px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: medium;
  }
}
