page-profile {
  .hide {
    display: none;
  }
  .notlogedin {
    text-align: center;
  }
  .show-login {
    text-decoration: none;
  }
  .show-none {
    display: none;
  }
  .show-logout {
    text-decoration: none;
  }
}
