page-checkout {
  .coupon {
    width: 80%;
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
  }
  .coupon-btn {
    display: inline;
    width: 20%;
    float: right;
    padding: 0;
    margin: 0;
  }
}
